---
import { getCollection } from "astro:content";
import LinkButton from "@components/LinkButton.astro";
import PostList from "@components/blog/PostList.astro";

const unsortedPosts = await getCollection("blog");

const firstThreePosts = unsortedPosts
	.sort((a, b) => {
		return new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf();
	})
	.slice(0, 3);
---

<div class="heading-container">
	<h2 class="text-center"><span class="smallerText">Most Recent</span>{" "}<span class="biggerText">Blog Posts</span></h2>
</div>

{firstThreePosts.map(({ data, slug }) => <PostList description={data.description} publishDate={data.publishDate} slug={slug} tags={data.tags} title={data.title} />)}

<div class="view-all-container">
	<LinkButton href="/blog/">View All Blog Posts</LinkButton>
</div>

<style>
	.heading-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	h2 {
		line-height: 1;
		margin-bottom: 3rem;
	}

	.view-all-container {
		margin-top: 3rem;
	}

	@media screen and (min-width: 576px) {
		.biggerText {
			box-shadow: inset 0 -0.5em 0 #868b9f;
			display: block;
			font-size: 4rem;
			font-weight: var(--fw-bold);
			padding-right: 1rem;
			padding-left: 1rem;
			text-transform: uppercase;
			width: max-content;
		}

		.smallerText {
			display: block;
			font-size: 1.25rem;
			font-weight: var(--fw-normal);
			margin-bottom: 1rem;
		}
	}
</style>
