---
import Favicon from "@components/head/favicon.astro";
import GlobalStyles from "@components/head/GlobalStyles.astro";

export interface Props {
	title: string;
	description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title: propsTitle, description: propDescription } = Astro.props;

const metaTitle = propsTitle
	? `${propsTitle} - Peter Morgan - Website Developer`
	: "Peter Morgan - Website Developer";
const metaDescription = propDescription
	? propDescription
	: `Hi. I'm Peter Morgan - a web developer based in Boston, MA. Welcome to my small corner of the internet.`;
const openGraphImage =
	"https://petermorgan.dev/images/meta/open-graph/open-graph-image-light-1200x600px.png";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={metaDescription} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDescription} />
<meta property="og:image" content={openGraphImage} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="600" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={metaDescription} />
<meta property="twitter:image" content={openGraphImage} />

<link
	href={`${Astro.site}rss.xml`}
	rel="alternate"
	title="Blog Feed - Peter Morgan - Website Developer"
	type="application/rss+xml"
/>
<link rel="sitemap" href="/sitemap-index.xml" />

<Favicon />

<link rel="stylesheet" href="/files/bootstrap-reboot.min.css" />

<GlobalStyles />
