---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostList from "@components/blog/PostList.astro";
import TagList from "@components/blog/TagList.astro";

const title = "Blog";
const description = "Notes, code snippets, and reminders related to website development and technology.";

const unsortedPosts = await getCollection("blog");
const sortedPosts = unsortedPosts.sort((a, b) => {
	return new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf();
});

const tagSet = new Set<string>();
sortedPosts.forEach((post) => {
	if (post.data.tags) {
		post.data.tags.forEach((tag: string) => tagSet.add(tag));
	}
});
const tagArray = [...tagSet];
---

<BaseLayout title={title} description={description}>
	<div class="intro no-margin-last-element">
		<h1>Blog</h1>
		<h2 class="fontsize-h3">Notes, code snippets, and reminders related to website development and technology.</h2>
		{tagArray && <TagList tags={tagArray} align="center" />}
	</div>

	{sortedPosts.map((post) => <PostList description={post.data.description} publishDate={post.data.publishDate} slug={post.slug} tags={post.data.tags} title={post.data.title} />)}
</BaseLayout>

<style>
	h1 {
		margin-bottom: 3rem;
		text-transform: uppercase;
	}

	@media screen and (min-width: 576px) {
		h1 {
			box-shadow: inset 0 -0.5em 0 #868b9f;
			line-height: 1;
			padding-right: 1rem;
			padding-left: 1rem;
			width: max-content;
		}
	}

	h2 {
		margin-bottom: 3rem;
	}

	.intro {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: var(--margin-lots);
	}
</style>
