---
import Favicon from '@components/head/favicon.astro';
import '@styles/styles.scss';

export interface Props {
	title: string;
	description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title: propsTitle, description } = Astro.props;

let metaTitle = propsTitle ? `${propsTitle} - Peter Morgan - Website Developer` : 'Peter Morgan - Website Developer';
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://astro.build/social.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="https://astro.build/social.png" />

<Favicon />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
