---
const { data } = Astro.props;
const title = data.frontmatter.title;
const description = data.frontmatter.description;
const publishDate = data.frontmatter.publishDate;
const url = data.frontmatter.slug;

const dateOptions:object = {
	"year" : "numeric",
	"month" : "long",
	"day": "numeric"
};
const formattedPublishDate = new Date(publishDate).toLocaleDateString('en-US', dateOptions);

const blogDirectory = "blog";
---

<article class="post-preview">
	<header>
		<a href={`/${blogDirectory}/${url}/`}><h2>{title}</h2></a>
		<p>
			<time>{formattedPublishDate}</time>
		</p>
	</header>
	<p>{description}</p>
</article>

<style>
	.post-preview {
		margin-bottom: 2rem;
	}

	.title,
	time {
		margin: 0;
	}

	time {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
