---
export interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
}

const { title, description, publishDate, url } = Astro.props as Props;
---

<article class="post-preview">
	<header>
		<time>{publishDate}</time>
		<a href={`/blog/${url}/`}><h1 class="title">{title}</h1></a>
	</header>
	<p>{description}</p>
	<a href={`/blog/${url}/`}>Read more</a>
</article>

<style>
	.post-preview {
		margin-bottom: 2rem;	
	}

	.title,
	time {
		margin: 0;
	}

	time {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
