---
const { data } = Astro.props;
const title = data.frontmatter.title;
const description = data.frontmatter.description;
const publishDate = data.frontmatter.publishDate;
const url = data.frontmatter.slug;

const blogDirectory = "blog";
---

<article class="post-preview">
	<header>
		<time>{publishDate}</time>
		<a href={`/${blogDirectory}/${url}/`}><h2>{title}</h2></a>
	</header>
	<p>{description}</p>
	<a href={`/${blogDirectory}/${url}/`}>Read more</a>
</article>

<style>
	.post-preview {
		margin-bottom: 2rem;
	}

	.title,
	time {
		margin: 0;
	}

	time {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
