---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostList from "@components/blog/PostList.astro";
import TagDescriptions from "@data/global/tag-descriptions.json";

export async function getStaticPaths() {
	const getPosts = await getCollection("blog");

	const tagSet = new Set<string>();

	getPosts.forEach((post) => {
		if (post.data.tags) {
			post.data.tags.map((category: string) => {
				tagSet.add(category);
			});
		}
	});

	const tagArray = [...tagSet];

	return tagArray.map((tag) => {
		const unsortedPosts = getPosts.filter((post) => {
			if (post.data.tags) {
				return post.data.tags.includes(tag);
			}
		});

		const posts = unsortedPosts.sort((a, b) => {
			return new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf();
		});

		return {
			params: { slug: tag },
			props: {
				tag,
				posts,
			},
		};
	});
}

const { tag, posts } = Astro.props;

const title = `Tag: ${tag}`;
const description = TagDescriptions[tag] ? TagDescriptions[tag] : `A collection of ${tag}-related blog posts.`;
---

<BaseLayout title={title} description={description}>
	<div class="no-margin-last-element blog-post-header">
		<h1>{title}</h1>
		<h2 class="fontsize-h3">{description}</h2>
	</div>

	{
		posts.map((post) => (
			<PostList
				data={{
					title: post.data.title,
					description: post.data.description,
					publishDate: post.data.publishDate,
					tags: post.data.tags,
					slug: post.slug,
				}}
			/>
		))
	}
</BaseLayout>

<style lang="scss">
	@import "../../styles/base/_variables.scss";

	.blog-post-header {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-bottom: 6rem;
		text-align: center;
		width: 100%;
	}

	h1 {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 3rem;

		@media screen and (min-width: $breakpoint-md) {
			box-shadow: inset 0 -0.5em 0 #868b9f;
			line-height: 1;
			padding-right: 1rem;
			padding-left: 1rem;
			width: max-content;
		}
	}
</style>
