---
import TagList from "@components/blog/TagList.astro";

const { data } = Astro.props;
const { title, description, publishDate, tags, slug: url } = data.frontmatter;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const formattedPublishDate = new Date(publishDate).toLocaleDateString(
	"en-US",
	dateOptions
);

const blogDirectory = "blog";
---

<article class="post-preview no-margin-last-element">
	<header>
		<h3 class="mb-3">
			<a href={`/${blogDirectory}/${url}/`}>{title}</a>
		</h3>
		<p><time>{formattedPublishDate}</time></p>
	</header>
	<p>{description}</p>
	{tags && <TagList {tags} />}
</article>

<style lang="scss">
	.post-preview {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	h2,
	h3 {
		font-weight: 600;
	}

	a {
		color: #172149;
		text-decoration: none;

		&:hover {
			color: #172149;
			text-decoration: underline;
		}
	}
</style>
