---
import TagList from "@components/blog/TagList.astro";
import { formatDate } from "@js/utils";

const { data } = Astro.props;
const { title, description, publishDate, tags, slug: url } = data.frontmatter;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const formattedPublishDate = formatDate(publishDate, dateOptions);

const blogDirectory = "blog";
---

<article class="post-preview no-margin-last-element">
	<header>
		<h3 class="mb-3">
			<a href={`/${blogDirectory}/${url}/`}>{title}</a>
		</h3>
		<p>{formattedPublishDate}</p>
	</header>
	<p>{description}</p>
	{tags && <TagList {tags} />}
</article>

<style lang="scss">
	@import "../../styles/base/_variables.scss";

	.post-preview {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	h3 {
		@media screen and (min-width: $breakpoint-sm) {
			font-size: 2rem;
		}
	}

	h2,
	h3 {
		font-weight: 600;
	}

	a {
		color: $color-blue;
		text-decoration: none;

		&:hover {
			color: $color-blue;
			text-decoration: underline;
		}
	}
</style>
