---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const {	data: {title, description, publishDate, modifiedDate} } = Astro.props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-8 col-xl-6">
					<article class="wrapper content">
						<h1 class="title">{title}</h1>
						<p>Posted on: <time>{publishDate}</time></p>
						{modifiedDate && (
							<p>Last Updated on: <time>{modifiedDate}</time></p>
						)}
						<main>
							<slot></slot>
						</main>
					</article>
				</div>
			</div>
		</div>
	</body>
</html>

<style>

</style>
