---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const {	title, description, publishDate, heroImage } = Astro.props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-8 col-xl-6">
					<article class="wrapper content">
						
							{heroImage && (
								<img
									width="720"
									height="420"
									loading="lazy"
									src={heroImage.src}
									alt={heroImage.alt}
								/>
							)}
							<h1 class="title">{title}</h1>
							<time>{publishDate}</time>
					
						<main>
							<slot></slot>
						</main>
					</article>
				</div>
			</div>
		</div>
	</body>
</html>

<style>

</style>
