---
import HeadContent from "@components/head/HeadContent.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import TagList from "@components/blog/TagList.astro";

const {	data: { title, description, publishDate, modifiedDate, tags } } = Astro.props;

const dateOptions:object = {
	year: "2-digit",
	month : "numeric",
	day: "numeric"
};
const formattedPublishDate = new Date(publishDate).toLocaleDateString('en-US', dateOptions);
const formattedModifiedDate = new Date(modifiedDate).toLocaleDateString('en-US', dateOptions);
---

<html lang="en">
	<head>
		<HeadContent {title} {description} />
	</head>

	<body>
		<div class="page-wrapper flex-shrink-0">
			<Header />
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-lg-10 col-xl-8">
						<div class="singleBlogMeta no-margin-last-element">
							<h1>{title}</h1>
							<p class="text-center mb-4">
								{publishDate && (
									<strong>Posted on: </strong> <time>{formattedPublishDate}</time>
								)}
								{modifiedDate && (
									<strong>Last Updated on: </strong> <time>{formattedModifiedDate}</time>
								)}
							</p>
							{tags &&
								<TagList {tags} align="center" />
							}
						</div>
						<div class="singleBlogContent no-margin-last-element mb-6r">
							<slot></slot>
						</div>
						<p class="mb-0 text-center"><a href="/blog/" class=" text-black">Back to Blog</a></p>
					</div>
				</div>
			</div>
		</div>
		<Footer />
	</body>
</html>

<style lang="scss">
	.singleBlogContent {
		margin-top: 6rem;
	}

	h1 {
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 3rem;
	}
</style>
