---
import HeadContent from "@components/head/HeadContent.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import formatDate from "@utils/formatDate";
import TagList from "@components/blog/TagList.astro";

const {
	data: { title, description, publishDate, modifiedDate, tags },
} = Astro.props;

const dateOptions: object = {
	year: "2-digit",
	month: "numeric",
	day: "numeric",
};
const formattedPublishDate = formatDate(publishDate, dateOptions);
const formattedModifiedDate = formatDate(modifiedDate, dateOptions);
---

<html lang="en">
	<head>
		<HeadContent {title} {description} />
	</head>

	<body>
		<div class="page-wrapper">
			<Header />
			<div class="container">
				<div class="singleBlogMeta no-margin-last-element">
					<h1>{title}</h1>
					<p class="postDate">
						{
							publishDate && (
								<>
									<strong>Posted on: </strong> <time>{formattedPublishDate}</time>
								</>
							)
						}
						{
							modifiedDate && (
								<>
									<strong>Last Updated on: </strong> <time>{formattedModifiedDate}</time>
								</>
							)
						}
					</p>
					{tags && <TagList {tags} align="center" />}
				</div>
				<div class="singleBlogContent no-margin-last-element">
					<slot />
				</div>
				<p class="backToBlog"><a href="/blog/" class="text-black">Back to Blog</a></p>
			</div>
		</div>
		<Footer />
	</body><style lang="scss">
		.singleBlogContent {
			margin-bottom: 6rem;
			margin-top: 6rem;
		}

		h1 {
			text-align: center;
			text-transform: uppercase;
			line-height: 1;
			margin-bottom: 3rem;
		}

		.backToBlog {
			margin-bottom: 0;
			text-align: center;
		}

		.postDate {
			margin-bottom: 1.5rem;
			text-align: center;
		}
	</style>
</html>
